<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemoryVault - {{ title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <script src="{{ url_for('static', filename='flash.js') }}"></script>

    <header>
        <h1 class="fancy">MemoryVault</h1>
        {% if user %}
        <div class="user-info">
            <span class="username">Logged in as <b>{{ user.username }}</b></span>
            <form method="GET" action="{{ url_for('settings.index')  }}">
                <button type="submit" class="button">Settings</button>
            </form>
            <form method="GET" action="{{ url_for('user.logout')  }}">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>
        {% endif %}
    </header>

    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{{ url_for('base.index') }}">Homepage</a></li>
                <li><a href="{{ url_for('user.login') }}">Login</a></li>
                <li><a href="{{ url_for('user.register') }}">Register</a></li>
                <li><a href="{{ url_for('memory.upload') }}">Memory Upload</a></li>
                <li><a href="{{ url_for('settings.index') }}">Settings</a></li>
                <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
        </nav>

        <main class="main-content">
            {% block content %}
            {% endblock %}

            {% if placeholder %}
                <h1>{{ placeholder }}</h1>
            {% endif %}
        </main>
    </div>

</body>
</html>