{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='memoryUpload.js') }}"></script>

<div class="form">
    {% if user %}
        <h1>Hello {{ user.firstname }}! </h1>
        <h2>Upload a new Memory to your Vault</h2>
    {% else %}
        <h1> Upload a new Memory</h1>
    {% endif %}
    {% if vault %}
        <div class="information-field">
            You have {{ vault.days_left }} days remaining in your Collection Period.
        </div>
    {% endif %}
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    <form action="{{ url_for('memory.upload') }}" enctype="multipart/form-data" method="post">
        <div class="form-element">
            <label for="date">Date of Memory*</label>
            <input type="date" name="date" required>
        </div>

        <div class="form-element">
            <label for="description">Description*</label>
            <textarea name="description" cols="40" rows="10"></textarea>
        </div>

        <div class="form-element">
            <label>Image</label>
            <input type="file" id="imageUpload" name="image" accept="image/*" style="display: none;">
            <label id="image-label" for="imageUpload">Choose image to upload</label>
        </div>

        <div class="preview-container" id="imagePreview">
            <img id="previewImg" src="" alt="Image Preview">
        </div>

        <label for="map-search">Search for location:</label>
        <input type="text" id="map-search">

        <label for="latitude">Latitude:</label>
        <input type="number" id="latitude" name="latitude" step="any" readonly>

        <label for="longitude">Latitude:</label>
        <input type="number" id="longitude" name="longitude" step="any" readonly>

        <div id="map"></div>

        <button class="button" type="submit">Upload</button>
    </form>
</div>

{% endblock %}