{% extends "base.html" %}
{% block content %}

<h1> Upload a new Memory</h1>

<div class="upload-memory">
    <form action="{{ url_for('memory.upload') }}", method="post">
        <div class="upload-memory-form">
            <label for="date">Date of Memory</label>
            <input type="date" name="date" required>
        </div>

        <div class="upload-memory-form">
            <label for="description">Description</label>
            <textarea name="description" cols="40", rows="10"></textarea>
        </div>

        <button class="button-3" type="submit">Upload</button>
    </form>
</div>

{% endblock %}