{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='settings.js') }}"></script>

<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-warning fade show">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    <h1 class="mb-2">Vault Settings:</h1>

    {% if vault %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th scope="row">Number of Memories in current Vault</th>
                <td>{{ vault.number_memories }}</td>
            </tr>
            <tr>
                <th scope="row">Days remaining in the collection period</th>
                <td>{{ vault.days_left }}</td>
            </tr>
            <tr>
                <th scope="row">Duration of Collection Period</th>
                <td>{{ vault.period_duration }} Month(s)</td>
            </tr>
            <tr>
                <th scope="row">End of current Collection Period</th>
                <td>{{ vault.curr_period_end }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <form action="{{ url_for('memory.upload') }}" method="get">
                <button id="register-btn" class="btn btn-secondary w-100 mb-4" type="submit">Go to memory upload</button>
        </form>
    </div>
    {% else %}
        <div id="create-vault">
            <div class="alert alert-warning">Please create a vault to upload memories.</div>
            <h3 class="mb-2">Please create a vault for your account:</h3>
            <form action="{{ url_for('settings.create_vault') }}" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="duration">Duration of each Collection Period</label>
                    <select class="form-select" class="dropdown" id="collection-period-duration" name="duration" required>
                        <option value="1">Monthly</option>
                        <option value="3">Quarterly</option>
                        <option value="6">Half-yearly</option>
                        <option value="12">Yearly</option>
                    </select>
                </div>
                <div class="mb-3" id="collection-period-start-div" style="visibility: hidden;">
                    <label class="form-label" for="start">Start of first Collection Period</label>
                    <select class="form-select" id="collection-period-start" name="start" required>
                    </select>
                </div>
                <div class="form-text mb-2" id="period-end-info">
                </div>
                <div class="form-text mb-2">
                    The duration and end of periods cannot be changed later.
                </div>
                <button id="register-btn" class="btn btn-primary w-100 mb-4" type="submit">Create Vault</button>
            </form>
        </div>
    {% endif %}
</div>
<div class="elem">
    <h1 class="mb-2">Family Settings:</h1>
</div>
{% endblock %}